
# This job should transfer files off-host
## On slow connections it can cause pretty bad backups
CRON_TIME_STRING pi (RSYNC_PATH --remove-source-files --progress --stats -rltDv  -e 'ssh -p 1522' LOCAL_PATH* REMOTE_USER@REMOTE_HOST:)

# HULK SMASH rsync during evenings; they can resume some other time
CRON_KILL_TIME_STRING PKILL -9 rsync
